.irs {
  display: block;
}

.irs .metrics {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.irs .metric {
  text-align: center;
  flex: 0 1 auto;
  min-width: 0;
}

.irs .metric .label {
  display: block;
}

.irs .metric .value {
  display: block;
  font-weight: bold;
  font-size: var(--font-size--lg);
}

.irs .earlyResults {
  align-items: stretch;
  border-block-end: 1px solid black;
  border-block-start: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
}

.irs .earlyResults h2 {
  font-size: 20px;
  font-weight: 900;
  margin-block-end: 10px;
}

.irs .earlyResults .label {
  padding: 20px;
}

.irs .candidates {
  align-items: stretch;
  background-color: var(--green-light);
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-flow: column nowrap;
  padding-inline-start: 20px;
}

.irs .candidate {
  flex: 1 1 auto;
  min-height: 0;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.irs .percentOfVotes {
  margin-inline-end: 0.5em;
  font-size: 20px;
  font-weight: bold;
  order: 1;
}

.irs .name {
  font-family: "Times New Roman", Georgia, serif;
  order: 3;
}

.irs .votes {
  margin-inline-end: 1em;
  order: 2;
}

.irs .votes::before {
  content: "(";
}

.irs .votes::after {
  content: ")";
}

.irs .inviter {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  text-align: center;
  border-block-end: 1px solid black;
}
