.irs {
  background: var(--green-light);
  display: flex;
  flex-flow: column nowrap;
}

.irs .Candidate {
  border: 0 solid black;
  border-bottom-width: 1px;
  flex: 1 1 auto;
  min-height: 3ex;
}

.irs .Candidate:last-of-type {
  border-bottom-width: 0;
}

.newCandidate {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
}

.newCandidateName {
  flex: 1 1 auto;
  min-width: 0;
}

.newCandidateButton {
  flex: 0 0 auto;
}
