.Summary {
  background: white;
  border: 0 solid transparent;
  word-break: normal;
}

.irs {
  border-block-start-width: 2px;
  border-color: black;
}

.irs .content {
  padding: 20px 0 10px;
}

.irs .title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-inline-end: 10px;
}

.irs .badge {
  font-size: 14px;
  font-weight: normal;
  margin-inline-end: 10px;
}

.irs .badge:last-child {
  margin-inline-end: 0;
}

.irs .badge:before {
  content: "(";
}

.irs .badge:after {
  content: ")";
}

.irs .meta {
  flex: 1 1 auto;
  min-width: 0;
}

.irs .byline {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.irs .candidates {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 16px;
  margin: 10px 0;
}

.irs .actions {
  border-block-start: 1px solid #000000C0;
  padding: 2px;
}

.irs .actions__media {
  align-items: stretch;
  align-self: stretch;
}

.irs .action {
  border-inline-end: 1px solid #00000040;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.irs .voteCount {
  align-items: center;
  background: #E9FFEC;
  display: flex;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 16px;
  padding: 5px 10px;
  z-index: 0;
}

@media (min-width: 768px) {
  .irs {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
  }

  .irs .content {
    align-items: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    min-width: 0;
    padding: 2px 0;
  }

  .irs .header {
    align-items: flex-start;
    align-self: flex-start;
    flex: 0 0 30%;
    flex-flow: column;
    min-width: 0;
  }

  .irs .title {
    display: block;
    margin-block-end: 10px;
  }

  .irs .meta {
    background-color: #E9FFEC;
    padding: 5px;
  }

  .irs .actions {
    border-block-start-width: 0;
    display: grid;
    flex: 0 0 130px;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding: 2px;
  }

  .irs .actions__media {
    flex-flow: column nowrap;
  }

  .irs .action {
    border-block-start: 1px solid #000000;
    border-inline-end-width: 0;
    border-inline-start: 1px solid #000000;
    order: 2;
  }

  .irs .voteCount {
    align-items: flex-start;
    background-color: transparent;
    flex: 1 1 auto;
    min-height: 0;
  }
}

.friendly {
  border-block-start-width: 1px;
  border-color: #ddd;
}

.friendly:last-child {
  border-block-end-width: 1px;
}
