.Input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #F1F4FF;
  border-radius: 0;
  border-width: 0;
  flex: 1 1 auto;
  padding: 5px;
}

.Input:hover,
.Input:focus {
  position: relative;
}
