/* .Control */
.Control {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.fill {
  align-content: stretch;
  align-items: stretch;
}

@media (min-width: 480px) {
  .horizontal {
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }

  .horizontal.fill {
    align-content: stretch;
    align-items: stretch;
  }
}

.irs {
  background-color: var(--green-light);
}

/* .label */
.horizontal .label {
  align-self: center;
}

@media (min-width: 480px) {
  .horizontal .label {
    flex: 0 0 10rem;
  }
}

/* .input */
.fill .input {
  width: 100%;
}

@media (min-width: 480px) {
  .horizontal .input {
    flex: 1 1 auto;
    min-width: 0;
  }
}
